# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.env.*
*.sqlite3
*.egg-info/
/dist/
build/

# VSCode
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# OS
.DS_Store

# Logs
*.log